# supervisely==6.72.95
git+https://github.com/supervisely/supervisely.git@global-lru-cache-for-frames
--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.12.1+cu113
torchvision==0.13.1+cu113
timm==0.4.9